language: objective-c
osx_image: xcode7.2
before_install:
 - export LANG=en_US.UTF-8
 - brew update
 - brew outdated xctool || brew upgrade xctool
 - gem install xcpretty --no-rdoc --no-ri --no-document
 - gem install xcpretty-travis-formatter --no-rdoc --no-ri --no-document
 - gem install xcpretty-travis-formatter
 - sudo easy_install cpp-coveralls
 - pod install
script:
 - xcodebuild test -sdk iphonesimulator9.2 -workspace AppleGuice.xcworkspace -scheme AppleGuice -configuration Debug GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES ONLY_ACTIVE_ARCH=NO GCC_PREPROCESSOR_DEFINITIONS='$GCC_PREPROCESSOR_DEFINITIONS GCC_GCOV_FLUSH' | xcpretty -f `xcpretty-travis-formatter` && exit ${PIPESTATUS[0]}
after_success:
 - ruby ./coveralls.rb --exclude-folder Pods --exclude-folder AppleGuicePreCompileBinder --exclude-folder Bootstrapper --exclude-folder AppleGuiceUnitTests
 - bash <(curl -s https://codecov.io/bash)
